.categoriesContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    font-family: cursive;
    font-size: 18px;
    font-weight: 600;
    color: white;

}

.categoriesContainer .groceryBox {
    border-radius: 10px;
    order: 1;
    cursor: pointer;
    width: 400px;
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 1) 45%, rgba(35, 13, 37) 25%);
    box-shadow: rgba(26, 17, 26, 0.1) 0px 4px 16px, rgba(26, 17, 26, 0.1) 0px 8px 24px, rgba(26, 17, 26, 0.1) 0px 16px 56px;
}

.categoriesContainer .foodBox {
    border-radius: 10px;
    order: 2;
    cursor: pointer;
    width: 400px;
    background: rgb(255, 255, 255);
    background: linear-gradient(158deg, rgba(255, 255, 255, 1) 33%, rgb(35, 13, 37) 34%);
    box-shadow: rgba(26, 17, 26, 0.1) 0px 4px 16px, rgba(26, 17, 26, 0.1) 0px 8px 24px, rgba(26, 17, 26, 0.1) 0px 16px 56px;
}

.categoriesContainer .groceryBox:hover,
.categoriesContainer .foodBox:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
}

.categoriesContainer .groceryBox img,
.categoriesContainer .foodBox img {
    width: 100px;
    padding: 10px;
}

.categoriesContainer .groceryBox p,
.categoriesContainer .foodBox p {
    padding-bottom: 20px;
    filter: drop-shadow(0px 2px 2px rgb(21, 4, 24));
}

@media screen and (max-width: 1131px) {
    .categoriesContainer {
        flex-wrap: wrap;
    }

    .categoriesContainer .groceryBox,
    .categoriesContainer .foodBox {
        width: 500px;
    }
}

@media screen and (max-width: 540px) {

    .categoriesContainer .groceryBox,
    .categoriesContainer .foodBox {
        width: 250px;
    }
}