html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #fdfcfd;
    /* background: url('../src/Images/eruvadibg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    /* background: rgb(252, 236, 241); */
    /* background: linear-gradient(158deg, rgba(255, 255, 255) 50%, rgb(45, 0, 49) 50%); */
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}